.header {
    display: flex;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    transform: rotate(-10deg);
    font-size: 25px;
}

.Logo, .Menu {
    cursor: pointer;
}


.StickyName {
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}

.StickyName input{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 2px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    outline: none;
    border: 0px;
}

.StickyName::before,
.StickyName::after {
    opacity: 0;
}

.StickyName::before {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #999;
    border: 2px solid #fff;
    border-radius: 5px;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: opacity 0.6s;
}

.StickyName::after {
    content: "✏️";
    filter: grayscale(100%);
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.StickyName:hover::before,
.StickyName:active::before,
.StickyName:focus-within::before {
    opacity: 0.2;
}

.StickyName:hover::after,
.StickyName:active::after,
.StickyName:focus-within::after {
    opacity: 0.6;
}

.Menu{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
